{% extends 'base.html' %}

{% block title %} Update {% endblock %}

{% block content %}


<div class="container mt-4 mb-4">
    <div class="block">
      <div class="row justify-content-center">
        <h1>Profile Information</h1>

        <div class="mt-4 mb-4">
        <h5>Personal Information</h5>
        <table class="table table-bordered mt-3 mb-3">
            <tbody>
                <tr>
                    <th>Full Name</th>
                    <td>John Doe</td>
                </tr>
                <tr>
                    <th>Date of Birth</th>
                    <td>12/02/2025</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>+123 456 7890</td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <td>Male</td>
                </tr>
                <tr>
                    <th>Achievements</th>
                    <td>MBBS</td>
                </tr>
            </tbody>
        </table>
    </div>


        <div class="mt-4 mb-4">
            <h5>Educational Information</h5>
            <table class="table table-bordered mt-3 mb-3">
                <tbody>
                    <tr>
                        <th>Full Name</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td>12/02/2025</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>+123 456 7890</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <th>Achievements</th>
                        <td>MBBS</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="mt-4 mb-4">
            <h5>Professional Information</h5>
            <table class="table table-bordered mt-3 mb-3">
                <tbody>
                    <tr>
                        <th>Full Name</th>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <th>Date of Birth</th>
                        <td>12/02/2025</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>+123 456 7890</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <th>Achievements</th>
                        <td>MBBS</td>
                    </tr>
                </tbody>
            </table>
        </div>

        

        <div class="text-center mt-3">
            <a href="#" class="btn btn-primary"><i class="fa-regular fa-pen-to-square"></i> Edit Data</a>
        </div>
        
      </div>
    </div>
  </div>


{% endblock %}